{{ define "expense_form" }}
  <select name="category_id">
    {{ range .categories }}
      <option
        value="{{ .ID }}"
        {{ if eq .ID $.expense.CategoryID }}selected{{ end }}
      >
        {{ .Name }}
      </option>
    {{ end }}
  </select>
  <input
    type="text"
    placeholder="Description"
    name="description"
    value="{{ .expense.Description }}"
  />
  <input
    type="number"
    min="0"
    step="0.01"
    placeholder="Amount"
    data-amount-target="local"
    data-action="input->amount#sync"
  />
  <input
    type="hidden"
    name="amount"
    data-amount-target="value"
    value="{{ .expense.Amount }}"
  />
  <input
    type="text"
    placeholder="Tags (; separated)"
    name="tags"
    value="{{ .tagsInput }}"
  />
  <input
    type="datetime-local"
    placeholder="Date"
    data-date-target="local"
    step="1"
  />
  <input
    type="hidden"
    name="date"
    data-date-target="value"
    value="{{ .expense.Date }}"
  />
  <button type="submit">Submit</button>
{{ end }}
