{{ template "layout" . }}
{{ define "main" }}
  <h1>EDIT EXPENSE</h1>
  <a href="/expenses">Back to expenses</a>
  {{ template "form_error" . }}
  <form
    action="/expenses/{{ .expense.ID }}"
    method="post"
    data-controller="date"
    data-action="submit->date#prepare"
  >
    {{ template "csrf" . }}
    <select name="category_id">
      {{ range .categories }}
        <option
          value="{{ .ID }}"
          {{ if eq .ID $.expense.CategoryID }}selected{{ end }}
        >
          {{ .Name }}
        </option>
      {{ end }}
    </select>
    <input
      type="text"
      placeholder="Description"
      name="description"
      value="{{ .expense.Description }}"
    />
    <input
      type="number"
      placeholder="Amount"
      name="amount"
      value="{{ .expense.Amount }}"
    />
    <input
      type="datetime-local"
      placeholder="Date"
      data-date-target="local"
      step="1"
    />
    <input
      type="hidden"
      name="date"
      data-date-target="value"
      value="{{ .expense.Date }}"
    />
    <button type="submit">Submit</button>
  </form>
{{ end }}
