{{ template "layout" . }}
{{ define "main" }}
  <h1>EXPENSE</h1>
  <a href="/expenses">Back to expenses</a>
  <table>
    <tbody>
      <tr>
        <th>Category</th>
        <td>{{ .expense.CategoryName }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ .expense.Description }}</td>
      </tr>
      <tr>
        <th>Amount</th>
        <td>{{ .expense.Amount | currency }}</td>
      </tr>
      <tr>
        <th>Date</th>
        <td>{{ .expense.Date | timeStamp }}</td>
      </tr>
      <tr>
        <th>Tags</th>
        <td>
          {{ if .expense.Tags }}
            {{ .expense.Tags }}
          {{ else }}
            -
          {{ end }}
        </td>
      </tr>
    </tbody>
  </table>
  <a href="/expenses/{{ .expense.ID }}/edit">Edit</a>
  <form action="/expenses/{{ .expense.ID }}/delete" method="post">
    {{ template "csrf" . }}
    <button type="submit" class="btn-danger btn-sm">Delete</button>
  </form>
{{ end }}
