{{ template "layout" . }}
{{ define "main" }}
  <h1>EDIT RECURRENT EXPENSE</h1>
  <a href="/recurrent-expenses">Back to recurrent expenses</a>
  {{ template "form_error" . }}
  <form action="/recurrent-expenses/{{ .recurrentExpense.ID }}" method="post">
    {{ template "csrf" . }}
    <select name="category_id">
      {{ range .categories }}
        <option
          value="{{ .ID }}"
          {{ if eq .ID $.recurrentExpense.CategoryID }}selected{{ end }}
        >
          {{ .Name }}
        </option>
      {{ end }}
    </select>
    <input
      type="text"
      placeholder="Description"
      name="description"
      value="{{ .recurrentExpense.Description }}"
    />
    <input
      type="number"
      placeholder="Amount"
      name="amount"
      value="{{ .recurrentExpense.Amount }}"
    />
    <input
      type="number"
      min="1"
      step="1"
      placeholder="Period in months"
      name="period"
      value="{{ .recurrentExpense.Period }}"
    />
    <button type="submit">Submit</button>
  </form>
{{ end }}
