{{ define "macro_entry_form" }}
  <label>
    Name
    <input type="text" name="name" value="{{ .entry.Name }}" />
  </label>
  <label>
    Kcal
    <input type="number" min="0" name="kcal" value="{{ .entry.Kcal }}" />
  </label>
  <label>
    Protein (g)
    <input
      type="number"
      min="0"
      name="protein_g"
      value="{{ .entry.ProteinG }}"
    />
  </label>
  <label>
    Carbs (g)
    <input type="number" min="0" name="carbs_g" value="{{ .entry.CarbsG }}" />
  </label>
  <label>
    Fat (g)
    <input type="number" min="0" name="fat_g" value="{{ .entry.FatG }}" />
  </label>
  <label>
    Date
    <input type="date" data-date-target="local" />
  </label>
  <input
    type="hidden"
    name="date"
    data-date-target="value"
    value="{{ .entry.Date }}"
  />
  <button type="submit" class="btn-primary" data-turbo-submits-with="Saving...">
    Submit
  </button>
{{ end }}
