{{ define "macro_entry_form" }}
  <label>
    Meal
    <select name="meal_type">
      <option
        value="breakfast"
        {{ if eq .entry.MealType "breakfast" }}selected{{ end }}
      >
        Breakfast
      </option>
      <option
        value="lunch"
        {{ if eq .entry.MealType "lunch" }}selected{{ end }}
      >
        Lunch
      </option>
      <option
        value="dinner"
        {{ if eq .entry.MealType "dinner" }}selected{{ end }}
      >
        Dinner
      </option>
      <option
        value="snack"
        {{ if eq .entry.MealType "snack" }}selected{{ end }}
      >
        Snack
      </option>
      <option
        value="other"
        {{ if eq .entry.MealType "other" }}selected{{ end }}
      >
        Other
      </option>
    </select>
  </label>
  <label>
    Name
    <input type="text" name="name" value="{{ .entry.Name }}" />
  </label>
  <label>
    Kcal
    <input
      type="number"
      min="0"
      step="0.01"
      name="kcal"
      value="{{ .entry.Kcal }}"
    />
  </label>
  <label>
    Protein (g)
    <input
      type="number"
      min="0"
      step="0.01"
      name="protein_g"
      value="{{ .entry.ProteinG }}"
    />
  </label>
  <label>
    Carbs (g)
    <input
      type="number"
      min="0"
      step="0.01"
      name="carbs_g"
      value="{{ .entry.CarbsG }}"
    />
  </label>
  <label>
    Fat (g)
    <input
      type="number"
      min="0"
      step="0.01"
      name="fat_g"
      value="{{ .entry.FatG }}"
    />
  </label>
  <label>
    Saturated Fat (g)
    <input
      type="number"
      min="0"
      step="0.01"
      name="saturated_fat_g"
      value="{{ .entry.SaturatedFatG }}"
    />
  </label>
  <label>
    Fiber (g)
    <input
      type="number"
      min="0"
      step="0.01"
      name="fiber_g"
      value="{{ .entry.FiberG }}"
    />
  </label>
  <label>
    Sodium (g)
    <input
      type="number"
      min="0"
      step="0.01"
      name="sodium_g"
      value="{{ .entry.SodiumG }}"
    />
  </label>
  <label>
    Date
    <input type="date" data-date-target="local" />
  </label>
  <input
    type="hidden"
    name="date"
    data-date-target="value"
    value="{{ .entry.Date }}"
  />
  {{ template "submit_button" . }}
{{ end }}
