{{ define "layout" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
      <link
        rel="stylesheet"
        href="/static/css/layout.css"
        data-turbo-track="reload"
      />
      <script
        src="/static/js/build/index.js"
        data-turbo-track="reload"
        type="module"
      ></script>
      <title>NINETE</title>
    </head>
    <body class="theme-light" hx-boost="true">
      <div class="page-shell">
        {{ template "header" . }}
        <main class="page-main">
          {{ block "main" . }}
          {{ end }}
        </main>
      </div>
    </body>
  </html>
{{ end }}
